#toh-cont {
	width: 100%;
	height: 300px;
	background-color: #fff;
	position: relative;
}



#move-counter {
	top: 10px;
	left: 10px;
	position: absolute;
	font-family: "Montserrat";
	font-size: 16px;
}

#max-moves {
	width: 100%;
	text-align: center;
	top: 10px;
	left: 0;
	position: absolute;
	font-family: "Montserrat";
	font-size: 16px;
	text-decoration: underline;
}

#restart {
	position: absolute;
	font-family: sans-serif;
	color: #00BCD4;
	height: 20px;
	width: 80px;
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #999;
	cursor: pointer;

}

.toh-pole {
	position: absolute;

	height: 200px;
	width: 20px;
	bottom: 0;

	background-color: #777;
}

#toh-pole-0 {
	left: calc(16.6% - 10px);
}

#toh-pole-1 {
	left: calc(50% - 10px);
}

#toh-pole-2 {
	right: calc(16.6% - 10px);
}

.toh-ring {
	height: 36px;
	border-radius: 18px;
	position: absolute;
	background-color: red;
	width: 100px;
}

.toh-top-ring:hover {
	background-color: #9C27B0 !important;
	cursor: pointer;
}

#toh-ring-0 {
	background-color: #f44336;
}

#toh-ring-1 {
	background-color: #FF5722;
}

#toh-ring-2 {
	background-color: #FF9800;
}

#toh-ring-3 {
	background-color: #CDDC39;
}

#toh-ring-4 {
	background-color: #00BCD4;
}

.movehere {
	position: absolute;
	font-family: sans-serif;
	color: #00BCD4;
	height: 20px;
	width: 80px;
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	top: -22px;
	left: -30px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #999;
	cursor: pointer;
}

#code {
	width: 100%;
	height: calc(100% - 30px);
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	font-family: "Montserrat";
	color: #999;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	padding-top: 30px;
}